* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

#navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-x: hidden;
  width: 100%;

}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 100px; /* Adjust the width of the logo as needed */
}

.cubeaisolutions {
  font-size: xx-large;
  color: #2596be;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link li {
  margin-right: 20px;
}

.nav-link li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  transition: color 0.3s; /* Add transition for smooth color change */
}

.nav-link li a:hover {
  color: #004e69; /* Change color on hover */
}

.search-menu-icon img {
  width: 25px;
  margin-right: 20px;
}

/*---------------------------- popup navbar in the header  ----------------*/

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  opacity: 0.86;
}

.popup-content {
  padding: 10px;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup-close svg {
  fill: #fff;
  width: 20px;
}

.popup-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.popup-social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-social-icons img {
  width: 30px;
}
.menu-icon-header{
margin-right: 20px;
}

@media (min-width: 320px) and (max-width: 426px) {
  .nav-link {
    display: none;
  }
}
/* For screens smaller than 768px (Mobile) */
@media (max-width: 768px) {
  .navbar-logo img {
    width: 80px; /* Adjust logo size for mobile */
  }

  .cubeaisolutions {
    font-size: large; /* Adjust font size for mobile */
  }

  .nav-link li a {
    font-size: 15px;
  }

  .search-icon img {
    width: 20px; /* Adjust search icon size for mobile */
  }

  .menu-icon {
    display: flex; /* Show menu icon */
  }

  /* .popup-container {
    width: 100%; Set popup width to full screen
    height: 100%; Set popup height to full screen
    padding-top: 60px; Adjust padding for close button
  } */

  .popup-content {
    font-size: 18px; /* Adjust font size for mobile */
  }

  .popup-close {
    top: 20px; /* Adjust close button position */
    right: 20px; /* Adjust close button position */
  }
  .popup-container {
    height: 65%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .popup-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
  }
  .popup-links-content1 {
    display: none;
  }
  .popup-container {
    height: 40%;
  }
}

/* For screens between 769px and 1024px (Tablet) */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-logo img {
    width: 100px; /* Adjust logo size for tablet */
  }

  .cubeaisolutions {
    font-size: x-large; /* Adjust font size for tablet */
  }

  .menu-icon {
    display: flex; /* Show menu icon */
  }

  .popup-container {
    width: 250px; /* Set popup width for tablet */
    height: 42%; /* Set popup height for tablet */
  }

  .popup-content {
    font-size: 20px; /* Adjust font size for tablet */
  }

  .popup-close {
    top: 30px; /* Adjust close button position */
    right: 30px; /* Adjust close button position */
  }
  .popup-links-content1 {
    display: none;
  }
 
}

/* For screens larger than 1024px (Laptop L and above) */
@media (min-width: 1025px) {
  .navbar-logo img {
    width: 120px; /* Adjust logo size for Laptop L and above */
  }

  .cubeaisolutions {
    font-size: xx-large; /* Adjust font size for Laptop L and above */
  }

  .nav-link {
    display: flex; /* Show nav links */
  }

  .search-icon img {
    width: 25px; /* Adjust search icon size for Laptop L and above */
  }

  .menu-icon {
    display: none; /* Hide menu icon */
  }

  .popup-container {
    width: 200px; /* Set popup width for Laptop L and above */
    height: 50%; /* Set popup height for Laptop L and above */
  }

  .popup-content {
    font-size: 22px; /* Adjust font size for Laptop L and above */
  }

  .popup-close {
    top: 10px; /* Adjust close button position */
    right: 10px; /* Adjust close button position */
  }
  .popup-links-content1 {
    display: none;
  }
  .popup-container {
    height: 40%;
  }
}


/*------------------------- banner ------------------------*/

.banner-1{
  background-image: url('images/img/backgroundimg1.png');
  width: 100%;
  height: 620px;
  overflow:hidden ;
 margin-top: 110px;
}
.content-1{
 color: #fff;
 margin-top: 150px;
 margin-left: 170px;
}
.content-1 h2{
font-size: 60px;
}
.content-1 p{
  margin-top: 30px;
  font-size: 22px;
  font-weight: 600;
 width: 840px;
}
@media(max-width:320px){
  
  .banner-1{
    height: 400px;
    margin-top: 80px;
  }
  .content-1{
    margin-top: 120px;
    margin-left: 30px;
  }
  .content-1 h2{
    font-size: 23px;
  }
  .content-1 p{
  font-size: 15px;
  width: 290px;
  font-weight: 500;
  line-height: 20px;
  
  }

}
@media(min-width:321px)and (max-width:376px){
  
  .banner-1{
    height: 420px;
    margin-top: 80px;
  }
  .content-1{
    margin-top: 120px;
    margin-left: 30px;
  }
  .content-1 h2{
    font-size: 27px;
  }
  .content-1 p{
  font-size: 18px;
  width: 340px;
  line-height: 20px;
  }

}
@media(min-width:376px)and (max-width:426px){
  
  .banner-1{
    height: 450px;
    margin-top: 80px;
  }
  .content-1{
    margin-top: 140px;
    margin-left: 30px;
  }
  .content-1 h2{
    font-size: 30px;
  }
  .content-1 p{
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  width: 400px;  
  }
}
@media(min-width:426px)and (max-width:768px){
  .banner-1{
    background-image: url('images/img/backgroundimg1.png');
    height: 500px;
    margin-top: 80px;
  }
  .content-1{
    margin-top: 140px;
    margin-left: 90px;
  }
  .content-1 h2{
    font-size: 30px;
  }
  .content-1 p{
  font-size: 18px;
  width: 680px;
  font-weight: 600;  
  }
}
@media(min-width:769px)and (max-width:1024px){
  .banner-1{
    margin-top: 95px;
  }
  .content-1{
    margin-top: 140px;
    margin-left: 120px;
  }
  .content-1 p{
    font-weight: 600;  
    }
}

/* banner-2 */

.banner-2{

  display: flex;
  background: linear-gradient(99.59deg, #0E2A47 0.85%, #2266AD 98.61%);
  width: 100%;
  height: 620px;
  overflow:hidden ;
  
}
.content-2 h2{
  font-family: Lato;
font-size: 60px;
font-weight: 700;
line-height: 76.8px;
text-align: left;
width: 800px;
height: 77px;
margin-top: 170px;
margin-left: 50px;
color: rgba(255, 255, 255, 1);
}
.content-2 p{
  font-family: Lato;
font-size: 20px;                        
font-weight: 600;
line-height: 28.8px;
letter-spacing: 0.02em;
text-align: left;
color: rgba(255, 255, 255, 1);
width: 700px;
height: 58px;
margin-top: 24px;
margin-left: 50px;
gap: 0px;
opacity: 0px;

}
.backgroundimg-2{
  margin-left: 100px;
  margin-top: 50px;

}
@media(max-width:320px){
  .banner-2{
    flex-direction: column;
    width: 100%;
    height: 660px;
    overflow:hidden ;
    
  }
  .content-2 h2{
  font-size: 30px;
  width: 320px;
  height: 0px;
  margin-top: 0px;
  margin-left: 23px;

  }
  .content-2 p{
  font-size: 15px;                        
  font-weight: 500;
  line-height: 20px;
  width: 290px;
  height: 58px;
  margin-top: 70px;
  margin-left: 23px;

  
  }
  .backgroundimg-2 img{
    margin-left: -30px;
    margin-top: 0px;
  width: 200px;
  }


}
@media(min-width:321px)and (max-width:376px){
  .banner-2{
    flex-direction: column;
    width: 100%;
    height: 660px;
    overflow:hidden ;
    
  }
  .content-2 h2{
  font-size: 30px;
  width: 320px;
  height: 0px;
  margin-top: 0px;
  margin-left: 23px;

  }
  .content-2 p{
  font-size: 18px;                        
  font-weight: 500;
  line-height: 20px;
  width: 340px;
  height: 58px;
  margin-top: 70px;
  margin-left: 23px;  
  }
  .backgroundimg-2 img{
    margin-left: 0px;
    margin-top: 0px;
  width: 200px;
  }
 

}
@media(min-width:376px)and (max-width:426px){
  
  .banner-2{
    flex-direction: column;
    width: 100%;
    height: 660px;
    overflow:hidden ;
    
  }
  .content-2 h2{
  font-size: 30px;
  width: 320px;
  height: 0px;
  margin-top: 0px;
  margin-left: 23px;

  }
  .content-2 p{
  font-size: 18px;                        
  font-weight: 500;
  line-height: 20px;
  width: 390px;
  height: 58px;
  margin-top: 70px;
  margin-left: 23px;  
  }
  .backgroundimg-2 img{
    margin-left: 20px;
    margin-top: 0px;
  width: 200px;
  }
 
}
@media(min-width:426px) and (max-width:768px){
  .content-2 h2{
  font-size: 30px;
  width: 400px;
  height: 77px;
  margin-top: 120px;
  margin-left: 60px;
  }
  .content-2 p{
  font-size: 18px;                        
  width: 443px;
  height: 58px;
  margin-top: 0px;
  margin-left: 60px; 
  }
  .backgroundimg-2{
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
  }
}
@media(min-width:769px)and (max-width:1024px){
  .content-2 h2{
    font-size: 30px;
    width: 800px;
    height: 77px;
    margin-top: 140px;
    margin-left: 60px;
    }
    .content-2 p{
    font-size: 18px;                        
    width: 620px;
    height: 58px;
    margin-top: 0px;
    margin-left: 60px; 
    }
    .backgroundimg-2{
      margin-left: 50px;
      margin-top: 50px;
     
    }
}

/* banner-3 */
.banner-3{
  display: flex;
  background: linear-gradient(280.5deg, #608BDE 0%, #344B78 77.72%);
  width: 100%;
  height: 620px;
  overflow:hidden ;
}
.content-3 h2{
  font-family: Lato;
font-size: 60px;
font-weight: 700;
line-height: 76.8px;
text-align: left;
width: 889px;
height: 77px;
margin-top: 130px;
margin-left: 100px;
color: rgba(255, 255, 255, 1);

}
.content-3 p{
  font-family: Lato;
font-size: 20px;                        
font-weight: 600;
line-height: 28.8px;
letter-spacing: 0.02em;
text-align: left;
color: rgba(255, 255, 255, 1);
width: 700px;
height: 58px;
margin-top: 24px;
margin-left: 100px;
gap: 0px;
opacity: 0px;

}
.backgroundimg-3{
  width: 401px;
  height: 401px;
  margin-top: 110px;
  margin-left: -200px;
}
@media(max-width:320px){
 
  .banner-3{
    display: flex;
    flex-direction: column;
    height: 640px;
    overflow:hidden ;
  }
  .content-3 h2{
    font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  width: 889px;
  height: 50px;
  margin-top: 30px;
  margin-left: 30px;
  color: rgba(255, 255, 255, 1);
  
  }
  .content-3 p{
  font-weight: 500;
  line-height: 20px;
  font-size: 15px;                        
  width: 285px;
  height: 58px;
  margin-top: 24px;
  margin-left: 30px;

  }
  .backgroundimg-3 img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 210px;
  }

}
@media(min-width:321px)and (max-width:376px){
  
  .banner-3{
    flex-direction: column;
    height: 640px;
  }
  .content-3 h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 76.8px;
  width: 889px;
  height: 50px;
  margin-top: 30px;
  margin-left: 30px; 
  }
  .content-3 p{
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;                        
  width: 340px;
  height: 58px;
  margin-top: 24px;
  margin-left: 30px;

  }
  .backgroundimg-3 img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 240px;
  }

}
@media(min-width:377px)and (max-width:426px){
  .banner-3{
    flex-direction: column;
    height: 640px;
  }
  .content-3 h2{
  font-size: 30px;
  font-weight: 700;
  line-height: 76.8px;
  width: 889px;
  height: 50px;
  margin-top: 30px;
  margin-left: 30px; 
  }
  .content-3 p{
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;                        
  width: 380px;
  height: 58px;
  margin-top: 24px;
  margin-left: 30px;

  }
  .backgroundimg-3 img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 260px;
  }
 
}
@media(min-width:427px)and (max-width:768px){
  .banner-3{
    display: flex;
    background: linear-gradient(280.5deg, #608BDE 0%, #344B78 77.72%);
    width: 100%;
    height: 620px;
    overflow:hidden ;
  }
  .content-3 h2{
  font-size: 30px;
  width: 489px;
  height: 47px;
  margin-top: 130px;
  margin-left: 50px;
  color: rgba(255, 255, 255, 1);
  
  }
  .content-3 p{
    font-family: Lato;
  font-size: 18px;                        
  font-weight: 600;
  width: 500px;
  height: 18px;
  margin-top: 24px;
  margin-left: 50px;
  gap: 0px;
  opacity: 0px;
  
  }
  .backgroundimg-3 {
    margin-top: 110px;
    margin-left: -100px;
  }
  .backgroundimg-3 img{
    width: 250px;
    height: 250px;
    margin-left: 70px;
    margin-top: 40px;
  }
}
@media(min-width:769px)and (max-width:1024px){
  .banner-3{
    display: flex;
    background: linear-gradient(280.5deg, #608BDE 0%, #344B78 77.72%);
    width: 100%;
    height: 620px;
    overflow:hidden ;
  }
  .content-3 h2{
  font-size: 30px;
  width: 489px;
  height: 47px;
  margin-top: 130px;
  margin-left: 50px;
  color: rgba(255, 255, 255, 1);
  
  }
  .content-3 p{
    font-family: Lato;
  font-size: 18px;                        
  font-weight: 600;
  width: 550px;
  height: 18px;
  margin-top: 24px;
  margin-left: 50px;
  gap: 0px;
  opacity: 0px;
  
  }
  .backgroundimg-3 {
    margin-top: 80px;
    margin-left: -40px;
  }
  .backgroundimg-3 img{
    width: 400px;
    height: 400px;
    margin-left: 70px;
    margin-top: 0px;
  }
}
@media(min-width:1230px)and (max-width:1440px){
  .banner-3{
    display: flex;
    background: linear-gradient(280.5deg, #608BDE 0%, #344B78 77.72%);
    width: 100%;
    height: 620px;
    overflow:hidden ;
  }
  .content-3 h2{
  font-size: 60px;
  width: 489px;
  height: 67px;
  margin-top: 130px;
  margin-left: 50px;
  
  }
  .content-3 p{
   
  font-size: 24px;                        
  font-weight: 600;
  width: 850px;
  height: 18px;
  margin-top: 24px;
  margin-left: 50px;

  
  }
  .backgroundimg-3 {
    margin-top: 80px;
    margin-left: -40px;
  }
  .backgroundimg-3 img{
    width: 400px;
    height: 400px;
    margin-left: 60px;
    margin-top: 0px;
  }
  .content-2 h2{
    font-size: 60px;
    width: 800px;
    height: 100px;
    margin-top: 140px;
    margin-left: 60px;
    }
    .content-2 p{
    font-size: 24px;                        
    width: 820px;
    height: 58px;
    margin-top: 0px;
    margin-left: 60px; 
    }
    .backgroundimg-2{
      margin-left: 150px;
      margin-top: 50px;
     width: 300px;
    }
    .content-1 { 
      margin-top: 150px;
      margin-left: 170px;
    }
    .content-1 h2{
      font-size: 60px;
    }
    .content-1 p{
      font-size: 24px;
      font-weight: 600;  
      }
}

/*                             about-us                           */
.about-container1 {
  display: flex;
  justify-content: space-between;
}
.about-container1-item1 img {
  margin-left: 150px;
  width: 200px;
  height: 200px;
}
.about-cubetitle {
  color: #004e69;
}
.about-container1-item1 h1 {
  margin-left: 150px;
  font-weight: 500;
  color: #2596be;
  font-size: 33px;
}
.about-container1-item1 h3 {
  margin-left: 150px;
  margin-top: 8px;
  font-size: 22px;
}

.about-container1-item2 {
  margin-top: 80px;
  margin-right: 10%;
}
.about-container1-item2 p {
  font-size: 22px;
  font-weight: 500;
}
.about-container1-item22 {
  margin-left: 25px;
}
.about-container1-item23 {
  margin-left: 50px;
}
.about-container1-item2 button {
  border: 3px solid #004e69;
  padding: 6px 30px;
  font-size: 24px;
  font-weight: 600;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  float: right;
}


@media (max-width: 480px) {
  .about-container1 {
    display: flex;
    flex-direction: column;
  }
  .about-container1-item1 img {
    margin-left: 23%;
    width: 55%;
    height: 200px;
  }
  .about-container1-item1 h1 {
    margin-left: 10%;
    font-size: 27px;
  }
  .about-container1-item1 h3 {
    margin-left: 16%;
    margin-top: 8px;
    font-size: 16px;
  }

  .about-container1-item2 {
    margin-top: 50px;
    margin-right: 10px;
  }
  .about-container1-item2 p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .about-container1-item22 {
    text-align: center;
    margin-left: 0px;
  }
  .about-container1-item23 {
    text-align: center;
    margin-left: 0px;
  }
  .about-container1-item2 button {
    margin-left: 35%;
    text-align: center;
    border: 3px solid #004e69;
    padding: 3px 20px;
    font-size: 18px;
    margin-top: 30px;
    float: none;
  }
}
@media (max-width:320px){
  .about-container1-item1 h1 {
    margin-left: 9%;
    font-size: 21px;
  }
  .about-container1-item1 h3 {
    margin-left: 12.5%;
    margin-top: 8px;
    font-size: 13.5px;
  }
  .about-container1-item2 p {
    font-size: 15px;
  }
}
@media (min-width:321px)and (max-width:376px){
  .about-container1-item1 h1 {
    margin-left: 8%;
    font-size: 25px;
  }
  .about-container1-item1 h3 {
    margin-left: 14%;
    margin-top: 8px;
    font-size: 15px;
  }
  .about-container1-item2 p {
    font-size: 17.5px;
  }
}

@media (min-width: 480px) and (max-width: 769px) {
  .about-container1-item1 img {
    margin-left: 5%;
    width: 60%;
    height: 200px;
  }
  .about-container1-item1 {
    width: 40%;
  }
  .about-container1-item1 h1 {
    margin-left: 6%;
    font-size: 2.9vw;
  }
  .about-container1-item1 h3 {
    margin-left: 6%;
    margin-top: 8px;
    font-size: 1.8vw;
  }

  .about-container1-item2 {
    width: 52%;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 8%;
  }
  .about-container1-item2 p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .about-container1-item22 {
    margin-left: 15px;
  }
  .about-container1-item23 {
    margin-left: 30px;
  }
  .about-container1-item2 button {
    margin-left: 30%;
    padding: 3px 15px;
    font-size: 18px;
    margin-right: 8%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .about-container1-item2 p {
    font-size: 20px;
  }
  .about-container1-item2 button {
    margin-left: 30%;
    padding: 3px 15px;
    font-size: 24px;
    margin-right: 8%;
  }
  .about-container1-item1 h1 {
    font-size: 2.5vw;
  }
  .about-container1-item1 h3 {
    font-size: 1.8vw;
  }
}

.about-container2 {
  margin-top: 60px;
  width: 87%;
  margin-left: 10%;
}
.about-container2 h1 {
  text-align: center;
  color: #2596be;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 0.3px;
}
.about-content1 {
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
.about-content2 {
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
.about-content-headquartes,
.about-content-team {
  font-weight: 800;
}
@media (max-width: 480px) {
  .about-container2 {
    margin-top: 60px;
    width: 95%;
    margin-left: 3%;
  }
  .about-container2 h1 {
    text-align: center;
    color: #2596be;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 0px;
  }
  .about-content1 {
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-content2,
  .about-content3 {
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-content-headquartes,
  .about-content-team {
    font-weight: 800;
    font-size: 18px;
  }
}
@media (max-width:320px){
  .about-content1,
  .about-content2,
  .about-content3{
    font-size: 15px;
  }
  .about-content-headquartes,
  .about-content-team{
    font-size: 15px;
  }
}


@media (min-width: 480px) and (max-width: 769px) {
  .about-container2 {
    margin-top: 60px;
    width: 95%;
    margin-left: 3%;
  }
  .about-container2 h1 {
    text-align: center;
    color: #2596be;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
    letter-spacing: 0px;
  }
  .about-content1 {
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-content2,
  .about-content3 {
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-content-headquartes,
  .about-content-team {
    font-weight: 800;
    font-size: 18px;
  }
}
@media (min-width: 770px) and (max-width: 1024px){
  .about-container2{
    width: 93%;
    margin-left: 3%;
  }
  .about-container2 h1{
    font-size: 50px;
  }
  .about-content-headquartes,
  .about-content-team {
    font-size: 24px;
  }
  .about-content2,
  .about-content3,
  .about-content1 {
    font-size: 24px;
  }
}
@media (min-width: 1025px){
  .about-container2{
    width: 93%;
    margin-left: 3%;
  }
  .about-container2 h1{
    font-size: 50px;
  }
  .about-content-headquartes,
  .about-content-team {
    font-size: 24px;
  }
  .about-content2,
  .about-content3,
  .about-content1 {
    font-size: 24px;
  }
}


/*                                service                            */

.service-container1 h1 {
  text-align: center;
  font-size: 30px;
  color: #2596be;
  margin-bottom: 20px;
}
.service-container1 p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.services {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.services-gridcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 60px;
  padding: 5vh 2vw;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.services-gridcontainer::-webkit-scrollbar {
  display: none;
}
.service-card p {
  color: white;
  font-weight: 600;
  position: relative;
  top: -320px;
  left: 10px;
  font-size: 17px;
  transition: 0.5s ease-in-out;
}
.service-card img {
  width: 300px;
  height: 350px;
  filter: brightness(50%);
}
.service-card .right-arrow{
  width: 25px;
  height: 25px;
  position: relative;
  top: -80px;
  left: 200px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.service-card {
  transition: 0.5s ease-in-out;
}
.service-card:hover .service-cardtitle {
  color: #ffc807;
  font-size: 20px;
  animation: wave 0.4s linear;
}
.service-card:hover .iot{
  color: #ffc807;
  font-size: 19.5px;
  animation: wave 0.4s linear;
}
.service-card:hover {
  color: #ffc807;
  filter: brightness(200%);
}
.service-card:hover .right-arrow{
background-color: #00A8E1;
border-radius: 50%;
}
.service-card:hover .arrow1{
  background-color: #00A8E1;
border-radius: 50%;
top: -110px;
}




.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 400%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 1;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

@media (max-width: 480px) {
  .service-container1 h1 {
    font-size: 30px;
  }
  .service-container1 p {
    text-align: center;
    font-size: 18px;
    padding: 1px;
  }
  .services {
    position: none;
    overflow: hidden;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-gridcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 0px;
    padding: 0vh 0vw;
  }
  .service-card p {
    color: white;
    font-weight: 600;
    position: relative;
    top: -280px;
    left: 10px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
  }
  .service-card img {
    width: 245px;
    height: 300px;
    filter: brightness(50%);
  }
  .service-card .right-arrow{
    left: 200px;
  }

  .pre-btn img,
  .nxt-btn img {
    opacity: 0;
  }

  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 0;
  }
}
@media (max-width:320px){
  
  .service-container1 h1 {
    font-size: 30px;
  }
  .service-container1 p {
    font-size: 15px;
  }
  }
@media (min-width: 480px) and (max-width: 769px) {
  .service-container1 h1 {
    font-size: 30px;
  }
  .service-container1 p {
    text-align: center;
    font-size: 18px;
  }
  .services {
    position: none;
    overflow: hidden;
    padding-left: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .services-gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    padding: 0vh 0vw;
  }
  .service-card .right-arrow{
    left: 160px;
  }
  .service-card p {
    color: white;
    font-weight: 600;
    position: relative;
    top: -230px;
    left: 10px;
    font-size: 15px;
    transition: 0.5s ease-in-out;
  }
  .service-card img {
    width: 210px;
    height: 250px;
    filter: brightness(50%);
  }

  .pre-btn img,
  .nxt-btn img {
    opacity: 0;
  }

  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 0;
  }
}
@media (min-width: 769px) and (max-width: 1026px) {
  .service-container1{
    margin-top: 30px;
  }
  .service-container1 h1 {
    font-size: 60px;
  }
  .service-container1 p {
    font-size: 24px;
  }
  .services-gridcontainer{
    padding: 5vh 30px;
  }
  .service-card img {
    width: 20.7vw;
    height: 270px;
  }
  .service-card .right-arrow{
    left: 160px;
  }
  .service-card p {
    color: white;
    font-weight: 600;
    position: relative;
    top: -260px;
    left: 10px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
  }
  .services-gridcontainer {
    column-gap: 3vw;
  }
}


@media (min-width: 1026px) and (max-width: 1440px) {
  .service-container1{
    margin-top: 50px;
  }
  .service-container1 h1 {
    font-size: 60px;
  }
  .service-container1 p {
    font-size: 24px;
  }
  .services-gridcontainer{
    padding: 5vh 3vw;
  }
  .service-card img {
    width: 19.8vw;
    height: 270px;
  }
  .services-gridcontainer {
    column-gap: 60px;
  }
  .service-card .right-arrow{
    left: 190px;
  }

  .service-card p {
    color: white;
    font-weight: 600;
    position: relative;
    top: -250px;
    left: 10px;
    font-size: 18px;
    transition: 0.5s ease-in-out;
  }
}
@media (min-width:1100px) and (max-width:1280px){
  .services-gridcontainer{ 
    padding: 5vh 3vw;
    column-gap: 60px;
  }
  .service-card img {
    width: 19vw;
    height: 270px;
  }
 
}

.service-container2 {
  margin-top: 50px;
  background-image:linear-gradient(to right ,#1E3A8A 40% ,#00A8E1) ;
  color: white;
  height: 326px;
  padding: 30px;
  overflow-x: hidden;
}
.service-container2 h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.service-count-container2 {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.service-container2-item1,
.service-container2-item2,
.service-container2-item3,
.service-container2-item4 {
  margin-top: 70px;
  background-color: #00A8E1;
  border: 1px solid white;
  border-radius: 12px;
  width: 200px;
  height: 186px;
  box-shadow: 1px 1px 7px rgb(69, 68, 68);
}
.service-container2-item1 h2 img,
.service-container2-item2 h2 img,
.service-container2-item3 h2 img,
.service-container2-item4 h2 img{
width: 50px;
height: 50px;
margin:30px 20px 30px 0px;
transition: 0.5s ease;
}
.service-container2-item1 h2:hover img,
.service-container2-item2 h2:hover img,
.service-container2-item3 h2:hover img,
.service-container2-item4 h2:hover img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}
.service-container2-item1 h2 span,
.service-container2-item2 h2 span,
.service-container2-item3 h2 span,
.service-container2-item4 h2 span{
  font-weight: 1000;
  font-size: 50px;
 position: relative;
 top: -38px;
}

.service-container2-item1 h2,
.service-container2-item2 h2,
.service-container2-item3 h2,
.service-container2-item4 h2 {
  color: #fff;
  padding: 10px 20px;
}
.service-container2-item1 p,
.service-container2-item2 p,
.service-container2-item3 p {
  font-size: 18px;
  font-weight: 600;
  color:#00A8E1 ;
  background-color: #fff;
  padding: 12px 20px;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
}
.service-container2-item4 p{
  font-size: 18px;
  font-weight: 600;
  color:#00A8E1 ;
  background-color: #fff;
  padding: 2px;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
}
@media (max-width: 480px) {
  .service-container2 {
    height: 1200px;
  }
  .service-container2 h1 {
    font-size: 25px; 
  }
  .service-count-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .service-count-container2 {
    width: 700px;
    flex-wrap: wrap;
  }
  .service-container2 {
    height: 700px;
  }
}
.service-container3 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.service-container3 h1 {
  font-size: 50px;
  color: #2596BE;
}
.service-container3 p {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 600;
}
.service-container3 button {
  padding: 7px 15px;
  border: 2px solid  #1994D2;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  width: 200px;
  color: #1476A8 ;
 
}
.service-container3 button:hover{
  color: white;
  background-color:  #1476A8 ;
  border: 2px solid #1476A8;
}
@media (max-width: 480px) {
  .service-container3 {
    margin-top: 50px;
  }
  .service-container3 h1 {
    font-size: 25px;
  }
  .service-container3 p {
    font-size: 20px;
  }
  .service-container3 button {
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 18px;
  }
}
@media (min-width: 480px) and (max-width: 769px) {
  .service-container3 {
    margin-top: 50px;
  }
  .service-container3 h1 {
    font-size: 30px;
  }
  .service-container3 p {
    font-size: 25px;
  }
  .service-container3 button {
    padding: 5px 10px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 18px;
  }
}

/*--------------------------------- footer ------------------------------------*/

footer {
  background-color: black;
  background-image: url(images/img/footer-bg.png);
  padding: 20px 0;
  font-size: 14px;
  color: white;
  overflow-x: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 25px;
}

.company-logo img {
  width: 60px;
  padding-left: 10px;
}

.head {
  display: flex;
}

.company-info p {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: justified;
}

.quick-links h3 {
  font-family: Lato;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 10px;
}

.quick-links li {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  margin: 5px 0;
  list-style-type: disc;
  padding-left: 10px;
  list-style-type: none;
}

.contact-info h3 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  padding-bottom: 10px;
}

.contact-info {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: justified;
}

.contact-info ol {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style-type: disc;
  padding-left: 57px;
}

.places {
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.company-info, .quick-links, .contact-info, .enquiry-form {
  margin: 20px;
  flex: 1;
}

.contact-info .add {
  padding-left: 60px;
  font-size: 23px;
}


.quick-links ul, .contact-info ul {
  padding: 0;
}

.quick-links ul li, .contact-info ul li {
  margin: 5px 0;
}

.quick-links ul li a, .contact-info a {
  color: white;
  text-decoration: none;
}

.enquiry-form form {
  display: flex;
  flex-direction: column;
}

.enquiry-form input, .enquiry-form textarea {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.enquiry-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: white;
  color: black;
}

.icon {
  margin-right: 5px;
}

.company-logo {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  padding: 30px;
  width: 100%;
  max-width: 1380px;
  height: auto;
}

.header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  column-gap: 10px;
}

.header-form h2 {
  width: 245px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-form .form-group {
  width: 100%;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
}

.contact-form .form-group:nth-child(1) {
  grid-column: 1 / 2;
}

.contact-form .form-group:nth-child(2) {
  grid-column: 2 / 3;
}

.contact-form .form-group:nth-child(3),
.contact-form .form-group:nth-child(4) {
  grid-column: 1 / -1;
}

.footer-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
}

.footer-btn:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

@media (max-width: 760px) {
  
  .footer-container {
      display: contents;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;
  }


  .company-logo {
      display: flex;
      align-items: center;
  }

  .company-info h1 {
      font-size: 22px;
  }

  .company-info p {
      font-size: 20px;
      padding-left: 15px;
  }

  .quick-links h3 {
      font-size: 26px;
  }

  .quick-links a {
      font-size: 20px;
      line-height: 10px;
  }

  .contact-info a {
      font-size: 20px;
  }

  .contact-info .add {
      padding-left: 60px;
      font-size: 14px;
  }

  .contact-info ol {
      font-size: 20px;
      padding-left: 27px;
      column-gap: 25px;
  }

  .header-form {
      flex-direction: column;
      text-align: center;
  }

  .company-info {
      margin-bottom: 10px;
  }

  .contact-form {
      grid-template-columns: 1fr;
  }

  .contact-form .form-group:nth-child(1),
  .contact-form .form-group:nth-child(2),
  .contact-form .form-group:nth-child(3),
  .contact-form .form-group:nth-child(4) {
      grid-column: 1 / -1;
  }

  .company-info h1 {
      font-size: 21px;
  }
}

@media (min-width: 426px) and (max-width: 770px) {
  
  .company-info {
      margin: 10px 0;
      align-self: center;
      padding: 0 122px 12px 159px;
  }

  .quick-links {
      padding-left: 75px;
  }

  .contact-info {
      margin-top: -240px;
      padding-left: 350px;
  }

  .footer-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
 
  .contact-info a {
      color: white;
      text-decoration: none;
      font-size: 20px;
  }
}
@media (min-width: 426px) and (max-width: 770px) {
  
  .header-form {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
 
  .enquiry-title h2 {
      font-size: 24px;
      margin-left: 410px;
  }

  .contact-info ol {
      font-size: 18px;
  }

  .contact-info .add {
      padding-left: 60px;
      font-size: 15px;
  }

  .quick-links li {
      padding: 0;
      font-size: 20px;
  }

  .company-info p {
      font-family: Lato;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
  }

  .company-logo h1 {
      font-size: 22px;
  }

  .company-logo img {
      width: 50px;
      margin-right: 10px;
  }

  .header-form {
      display: flex;

  }
}

@media (min-width: 1025px) {
  
  .enquiry-title h2 {
      font-size: 26px;
      margin-left: 600px;
  }
  

}