/* main-header */
body {
    background-color: rgba(178, 178, 178, 1) !important;
}

#navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 100px;
}

.cubeaisolutions {
    font-size: xx-large;
    color: #2596be;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #004E69;
}

.search-menu-icon img {
    width: 25px;
    margin-right: 20px;
}

.popup-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    display: none;
    opacity: 0.86;
}

.popup-content {
    padding: 10px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;

}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup-close svg {
    fill: #fff;
    width: 20px;
}

.popup-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-links a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.popup-links a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.popup-social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-social-icons img {
    width: 30px;
}

@media (min-width:320px) and (max-width:426px) {
    .nav-links {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-logo img {
        width: 40px;
    }

    .cubeaisolutions {
        font-size: large;
    }

    .nav-links li a {
        font-size: 15px;
    }

    .search-icon img {
        width: 20px;
    }

    .menu-icon {
        display: flex;
    }

    .popup-container {
        width: 200px;
        height: 60%;
        padding-top: 10px;
    }

    .popup-content {
        font-size: 18px;
    }

    .popup-close {
        top: 20px;
        right: 20px;
    }

}

@media (min-width:426px)and (max-width:768px) {
    .popup-container {
        top: 0;
        right: 0;
        width: 200px;
        height: 40%;
        padding-top: 10px;
    }

    .popup-links-content1 {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar-logo img {
        width: 100px;
    }

    .cubeaisolutions {
        font-size: x-large;
    }

    .menu-icon {
        display: flex;
    }

    .popup-container {
        width: 250px;
        height: 35%;
        padding-top: 10px;
    }

    .popup-content {
        font-size: 20px;
    }

    .popup-close {
        top: 30px;
        right: 30px;
    }

    .popup-links-content1 {
        display: none;
    }
}

@media (min-width: 1025px) {
    .navbar-logo img {
        width: 70px;

    }

    .cubeaisolutions {
        font-size: xx-large;
    }

    .nav-links {
        display: flex;
    }

    .search-icon img {
        width: 25px;
    }

    .menu-icon {
        display: none;
    }

    .popup-container {
        width: 200px;
        height: 30%;
        padding-top: 10px;
    }

    .popup-content {
        font-size: 22px;
    }

    .popup-close {
        top: 10px;
        right: 10px;
    }

    .popup-links-content1 {
        display: none;
    }
}

/* header */
a {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.navbar {
    background-color: rgba(11, 93, 105, 1);
    position: sticky !important;
    top: 90px;
    width: 100%;
    z-index: 1000;
}
.back-arrow{
    color: white!important;
}
.navbar-brand {
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.navbar-brand:hover{
    color: white;
}

.navbar .nav-link {
    margin: 5px;
    color: white;
    font-size: 20px;
}

.navbar-toggler {
    border: none;
    z-index: 1001;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Sidebar styles */
.sidebar {
    height: 200px !important; /* Set a fixed height for the sidebar */
    width: 190px;
    position: fixed;
    top: 126px !important; /* Adjust top to match the height of the navbar */
    right: -250px; 
    background-color: white;
    overflow-y: auto;
    transition: 0.3s;
    padding-top: 30px;
    z-index: 9999;
}

.sidebar.show {
    right: 0; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 15px;
    background: none;
    border: none;
    color: rgba(11, 93, 105);
    cursor: pointer;
}

.sidebar .nav-item {
    text-decoration: none;
    list-style-type: none;
}

.sidebar a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    color:rgba(11, 93, 105);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(11, 93, 105) !important;
}

@media (max-width: 475px) {
    .navbar .collapse {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .sidebar {
        right: -250px;
        height: 450px; /* Maintain the fixed height */
        top: 120px !important; /* Adjust top to match the height of the navbar */
    }

    .sidebar.show {
        right: 0;
    }

    .navbar-brand {
        margin: 5px;
        color: white;
        font-size: 15px;
    }

    .sidebar a {
        font-size: 15px;
    }
}

@media (max-width: 790px) {
    .navbar .collapse {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .sidebar {
        right: -250px;
        height: 450px; /* Maintain the fixed height */
        top: 117px !important; /* Adjust top to match the height of the navbar */
    }

    .sidebar.show {
        right: 0;
    }

    .navbar {
        position: sticky;
        top: 60px;
    }
}



/* banner section */
.home {
    position: relative;
    background: url('images/banner.png') no-repeat center center;
    background-size: cover;
    color: white;
    height: 70vh;
}

.overlay-text {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    width: auto;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.overlay-text h2 {
    font-size: 64px;
    margin-bottom: 10px;
    font-weight: 800;
}

.overlay-text p {
    font-size: 28px;
    margin-bottom: 0;
    font-weight: 500;
}

@media (max-width:1024px) {
    .overlay-text h2 {
        font-size: 45px;
    }

    .overlay-text p {
        font-size: 20px;
    }
}

@media (max-width:990px) {
    .overlay-text {
        top: 30%;
        right: 0px;
        left: 5%;
        transform: translateY(-40%);
        max-width: 90%;
        padding: 5px;
        align-items: center;
    }

    .overlay-text h2 {
        font-size: 55px;
    }

    .overlay-text p {
        font-size: 24px;
    }

}

@media (max-width: 768px) {
    .home {
        height: 50vh;
    }

    .overlay-text {
        top: 40%;
        right: 0px;
        left: 5%;
        transform: translateY(-40%);
        max-width: 90%;
        padding: 5px;
        align-items: center;
    }

    .overlay-text h2 {
        font-size: 30px;
    }

    .overlay-text p {
        font-size: 18px;
    }
}

@media (max-width:425px) {
    .overlay-text h2 {
        font-size: 25px;
    }

    .overlay-text p {
        font-size: 15px;
    }
}




/* what-we-do */
.section {
    padding: 30px 10px;
    color: rgba(32, 32, 32, 1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -16px;
    font-family: 'Lato', sans-serif;

}

.section .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section img {
    max-width: 40%;
    border-radius: 15px;
    margin-left: -50px;

}

.section-content {
    max-width: 60%;
    padding: 20px;
    position: relative;
}

.section-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 900;
}

.section-content p {
    font-size: 28px;
    font-weight: 600;
text-align: left;
}

.section-content .lines {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-content .lines div {
    width: 50px;
    height: 4px;
    background: white;
}

@media (max-width: 992px) {
    .section {
        text-align: center;
        padding: 30px 10px;
    }

    .section img {
        max-width: 50%;
        margin: 0 auto 20px;
    }

    .section-content {
        max-width: 100%;
        padding: 10px;

    }

    .section-content h2 {
        font-size: 35px;
        text-align: left;
    }

    .section-content p {
        font-size: 20px;
        text-align: left;
    }

    .section-content .lines {
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 20px;
    }

    .container {
        max-width: 90%;
    }

    .section-content h2,.section-content p{
        text-align: left;
    }

}

@media (max-width: 576px) {
    .section img {
        max-width: 80%;
    }
}

@media (max-width:425px) {
    .section-content h2 {
        font-size: 25px;
    }

    .section-content p {
        font-size: 15px;
    }

}




/* challenges */
.container {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-12,
.col-lg-6,
.col-md-6,
.col-md-12 {
    padding: 15px;
    box-sizing: border-box;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.content-box {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.content-box h5 {
    color: rgba(0, 131, 68, 1);
    font-weight: 700;
    font-size: 25px;
}

.content-box p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    flex-grow: 1;
}

.main-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 900;
    text-align: left;
}

.server-img {
    max-width: 55%;
    height: auto;
    transform: translateY(60px);
}

.server-img2 {
    max-width: 40%;
    height: auto;
    transform: translateY(40px);
}

.server-img3 {
    max-width: 70%;
    height: auto;
    transform: translateY(20px);
}


@media (max-width:768px) {
    .server-img {
        max-width: 55%;
        height: auto;
        transform: translateY(-10px);
    }

    .server-img2 {
        max-width: 40%;
        height: auto;
        transform: translateY(-10px);
    }

    .server-img3{
        max-width: 50%;
        height: auto;
    }

    .content-box h5 {
        font-weight: 600;
        font-size: 20px;
    }

    .content-box p {
        font-weight: 600;
        font-size: 15px;
    }
}

@media (max-width: 767px) {

    .col-lg-6,
    .col-md-6,
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-heading {
        font-size: 2rem;
    }

    .content-box h5 {
        font-size: 20px;
    }

    .content-box p {
        font-size: 15px;
    }

    .server-img {
        max-width: 50%;
        transform: translateY(10px);
    }

    .server-img2 {
        transform: translateY(-10px);

    }
}



/* trending */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 25px !important;
    margin-top: 30px;
}

.card-body {
    flex: 1 1 auto;
}

.mb-4 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 900;
}

.card-body h5 {
    font-size: 26px;
    color: rgba(0, 131, 68, 1);
    font-weight: 700;
}

.card-body p {
    font-size: 20px;
    font-weight: 500;
}

.card img {
    height: 200px;
    object-fit: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media (max-width: 768px) {
    .card-body p{
        font-size: 15px;
    }

    .card-body h5{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .col-md-4{
        margin-bottom: 50px !important;
    }

    .card-body p{
        font-size: 18px;
    }
}



/* enquiry */
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    margin-top: 3% !important;
}

.form-header,
form{
    width: 90%;
    margin: 0 auto;
}

.company-info {
    display: flex;
    align-items: center;
}

.company-logo {
    max-width: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 24px;
    font-weight: bold;
}

.form-container {
    max-width: 2000px;
    width: 100%;
    margin: 70px auto 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.form-control::placeholder {
    color: #ccc;
}

.form-control-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.position-relative {
    position: relative;
}

label {
    font-size: 20px;
}


.form-heading {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.textarea-container {
    position: relative;
}

.textarea-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ccc;
}

textarea {
    padding-right: 30px;
}

input.form-control,
textarea.form-control {
    background-color: rgba(242, 242, 242, 1);
    color: #333;
    padding-right: 40px;
}

input.form-control:focus,
textarea.form-control:focus {
    background-color: rgba(242, 242, 242, 1);
    box-shadow: none;
}

button.btn-primary {
    max-width: 50%;
    width: 100px;
    background-color: rgba(37, 150, 190, 1);
    border: none;
}

.btn-container {
    text-align: center;
    align-items: center;
}


@media (max-width: 768px) {
    .form-header {
        flex-direction: column;
        align-items: center;
        margin-top: 5% !important;
    }

    .form-heading {
        position: relative;
        left: auto;
        transform: none;
        margin-top: 10px;
        font-size: 18px;
    }

    .company-name{
        font-size: 19px;
        font-weight: 900 !important;
    }

}