* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  }
  #navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    overflow-x: hidden;
    width: 100%;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    width: 100px; /* Adjust the width of the logo as needed */
  }
  
  .cubeaisolutions {
    font-size: xx-large;
    color: #2596be;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-link li {
    margin-right: 20px;
  }
  
  .nav-link li a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    transition: color 0.3s; /* Add transition for smooth color change */
  }
  
  .nav-link li a:hover {
    color: #004e69; /* Change color on hover */
  }

  .activate.active{
    color:  #004E69;
  }
  
  .search-menu-icon img {
    width: 25px;
    margin-right: 20px;
  }
  
  /*---------------------------- popup navbar in the header  ----------------*/
  
  .popup-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
    opacity: 0.86;
  }
  
  .popup-content {
    padding: 10px;
    font-size: 22px;
    font-family: "Lato", sans-serif;
  }
  
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .popup-close svg {
    fill: #fff;
    width: 20px;
  }
  
  .popup-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-links a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .popup-social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .popup-social-icons img {
    width: 30px;
  }
  .menu-icon-header{
margin-right: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 426px) {
    .nav-link {
      display: none;
    }
  }
  /* For screens smaller than 768px (Mobile) */
  @media (max-width: 768px) {
    .navbar-logo img {
      width: 80px; /* Adjust logo size for mobile */
    }
  
    .cubeaisolutions {
      font-size: large; /* Adjust font size for mobile */
    }
  
    .nav-link li a {
      font-size: 15px;
    }
  
    .search-icon img {
      width: 20px; /* Adjust search icon size for mobile */
    }
  
    .menu-icon {
      display: flex; /* Show menu icon */
    }
  
    /* .popup-container {
      width: 100%; Set popup width to full screen
      height: 100%; Set popup height to full screen
      padding-top: 60px; Adjust padding for close button
    } */
  
    .popup-content {
      font-size: 18px; /* Adjust font size for mobile */
    }
  
    .popup-close {
      top: 20px; /* Adjust close button position */
      right: 20px; /* Adjust close button position */
    }
    .popup-container {
      height: 58%;
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .popup-container {
      position: fixed;
      top: 0;
      right: 0;
      width: 200px;
      height: 50%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 1000;
      display: none;
    }
    .popup-links-content1 {
      display: none;
    }
    .popup-container {
      height: 35%;
    }
  }
  
  /* For screens between 769px and 1024px (Tablet) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .navbar-logo img {
      width: 100px; /* Adjust logo size for tablet */
    }
  
    .cubeaisolutions {
      font-size: x-large; /* Adjust font size for tablet */
    }
  
    .menu-icon {
      display: flex; /* Show menu icon */
    }
  
    .popup-container {
      width: 250px; /* Set popup width for tablet */
      height: 60%; /* Set popup height for tablet */
    }
  
    .popup-content {
      font-size: 20px; /* Adjust font size for tablet */
    }
  
    .popup-close {
      top: 30px; /* Adjust close button position */
      right: 30px; /* Adjust close button position */
    }
    .popup-links-content1 {
      display: none;
    }
    .popup-container {
      height: 40%;
    }
  }
  
  /* For screens larger than 1024px (Laptop L and above) */
  @media (min-width: 1025px) {
    .navbar-logo img {
      width: 120px; /* Adjust logo size for Laptop L and above */
    }
  
    .cubeaisolutions {
      font-size: xx-large; /* Adjust font size for Laptop L and above */
    }
  
    .nav-link {
      display: flex; /* Show nav links */
    }
  
    .search-icon img {
      width: 25px; /* Adjust search icon size for Laptop L and above */
    }
  
    .menu-icon {
      display: none; /* Hide menu icon */
    }
  
    .popup-container {
      width: 200px; /* Set popup width for Laptop L and above */
      height: 50%; /* Set popup height for Laptop L and above */
    }
  
    .popup-content {
      font-size: 22px; /* Adjust font size for Laptop L and above */
    }
  
    .popup-close {
      top: 10px; /* Adjust close button position */
      right: 10px; /* Adjust close button position */
    }
    .popup-links-content1 {
      display: none;
    }
    .popup-container {
      height: 40%;
    }
  }

  
  /*----------------------- banner ----------------------------*/

  .contact-banner{
    background-image: url('images/img/contactbanner.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin-top: 100px;
  }
  .contact-banner h1{
    color: #2596BE;
    position: relative;
    top: 130px;
    margin-left: 130px;
    font-weight: 700;
    font-size: 54px;
  }
  .contact-banner p{
    color: #fff;
    position: relative;
    top: 170px;
    margin-left: 130px;
    font-size: 25px;
    font-weight: 500;
  }

  @media (max-width:320px){
    .contact-banner{
        height: 90vh;
        margin-top: 80px;
      }
      .contact-banner h1{
        margin-left: 70px;
        font-size: 12vw;
      }
      .contact-banner p{
        margin-left: 50px;
        font-size: 5.5vw;
      }
  }
  @media (min-width:321px) and (max-width:376px){
    .contact-banner{
        height: 80vh;
        margin-top: 80px;
      }
      .contact-banner h1{
        margin-left: 70px;
        font-size: 12vw;
      }
      .contact-banner p{
        margin-left: 70px;
        font-size: 5vw;
        color: #fff;
        position: relative;
        top: 137px;
      }
  }
  @media (min-width:377px) and (max-width:426px){
    .contact-banner{
        height: 90vh;
        margin-top: 80px;
      }
      .contact-banner h1{
        margin-left: 70px;
        font-size: 12vw;
      }
      .contact-banner p{
        margin-left: 60px;
        font-size: 6vw;
      }
  }
  @media (min-width:427px) and (max-width:768px){
    .contact-banner{
      margin-top: 80px;
    }
  }

  /*----------------------------- contact us ------------------------*/
  .contact-us{
    overflow-x: hidden;
  }
  .contact-us h1{
    margin-top: 40px;
     color: #2596BE; 
     text-align: center;
     font-size: 30px;
     font-weight: 800;
  }
  .contact-us >p{
    margin-top: 20px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .contact-container{
    display: flex;
    justify-content: center;
  }
  .contact-container .item1{
    margin-right: 200px;
    }
    .contact-container .item2{
     position: relative;
     left: 80px;
    }
  .contact-container img{
    width: 45px;
    height: 40px;

  }
  .contact-item img{
    margin-left:0px ;
  }
  .contact-item p{
    margin-top:10px ;
  }


   @media  (max-width:426px){
    .contact-us >p{
        margin-bottom: 20px;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
      }
      .contact-container .item1{
        width: 100%;
        margin-left: 30vw;
        }
        .contact-container .item1 p,
        .contact-container .item2 p{
            width: 100%;
            /* font-size: 15px; */
        }

        .contact-container .address{
          font-size: 14px !important;
        }

        .contact-item .contact-mail {
          font-size: 17px;
        }

        .contact-city {
          font-size: 17px;
        }

        .contact-container .item2{
            margin-top: 20px;
         margin-left: 9vw;
        }
      .contact-container img{
        width: 50px;
        height: 50px;
      }
      .contact-item img{
        margin-left:50px ;
      }
      
   }
   
   @media (max-width:320px){
    .contact-container .item1{
      width: 100%;
      margin-left: 80px;
      }
        .contact-container .item2{
          margin-top: 20px;
       margin-left: 0px;
      }
 }

 @media (min-width:427px) and (max-width:1440px){
    .contact-container .item2{
        left: 40px;
       }
       
        .contact-container .item2 p,
        .contact-container .item1 p{
          margin-left: -35px;
        }
 }

 /*----------------------------- geo-location -------------------------*/

.contact-location iframe{
    margin-top: 60px;
width: 100%;
height: 600px;

 }

 @media (max-width:426px){
    .contact-location iframe{
        height: 400px;
    }
 }

 /*--------------------------------- footer ------------------------------------*/

footer {
  background-color: black;
  background-image: url(./image/footer-bg.png);
  padding: 20px 0;
  font-size: 14px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 25px;
}

.company-logo img {
  width: 60px;
  padding-left: 10px;
}

.head {
  display: flex;
}

.company-info p {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: justified;
}

.quick-links h3 {
  font-family: Lato;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 10px;
}

.quick-links li {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  margin: 5px 0;
  list-style-type: disc;
  padding-left: 10px;
  list-style-type: none;
}

.contact-info h3 {
  font-family: Lato;
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  padding-bottom: 10px;
}

.contact-info {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: justified;
}

.contact-info ol {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style-type: disc;
  padding-left: 57px;
}

.places {
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.company-info, .quick-links, .contact-info, .enquiry-form {
  margin: 20px;
  flex: 1;
}

.contact-info .add {
  padding-left: 22px;
  font-size: 18px;
  margin-top: -30px;
}
.list li{
  font-size: 18px;
}

.quick-links ul, .contact-info ul {
  padding: 0;
}

.quick-links ul li, .contact-info ul li {
  margin: 5px 0;
}

.quick-links ul li a, .contact-info a {
  color: white;
  text-decoration: none;
}

.enquiry-form form {
  display: flex;
  flex-direction: column;
}

.enquiry-form input, .enquiry-form textarea {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.enquiry-form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: white;
  color: black;
}

.icon {
  margin-right: 5px;
}

.company-logo {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  padding: 30px;
  width: 100%;
  max-width: 1380px;
  height: auto;
}

.header-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.header-form h2 {
  width: 245px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-form .form-group {
  width: 100%;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
}

.contact-form .form-group:nth-child(1) {
  grid-column: 1 / 2;
}

.contact-form .form-group:nth-child(2) {
  grid-column: 2 / 3;
}

.contact-form .form-group:nth-child(3),
.contact-form .form-group:nth-child(4) {
  grid-column: 1 / -1;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

@media (max-width: 760px) {
  
  .footer-container {
      display: contents;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;
  }


  .company-logo {
      display: flex;
      align-items: center;
  }

  .company-info h1 {
      font-size: 22px;
  }

  .company-info p {
      font-size: 20px;
      padding-left: 15px;
  }

  .quick-links h3 {
      font-size: 30px;
  }

  .quick-links a {
      font-size: 20px;
      line-height: 10px;
  }

  .contact-info a {
      font-size: 20px;
  }

  .contact-info .add {
      /* padding-left: 60px; */
      font-size: 15px;
  }

  .contact-info ol {
      font-size: 20px;
      padding-left: 27px;
      column-gap: 25px;
  }
  .list li{
      font-size: 20px;
  }

  .header-form {
      flex-direction: column;
      text-align: center;
  }

  .company-info {
      margin-bottom: 10px;
  }
  .contact-info{
      padding-top: 20px;
  }

  .contact-form {
      grid-template-columns: 1fr;
  }

  .contact-form .form-group:nth-child(1),
  .contact-form .form-group:nth-child(2),
  .contact-form .form-group:nth-child(3),
  .contact-form .form-group:nth-child(4) {
      grid-column: 1 / -1;
  }

  .company-info h1 {
      font-size: 21px;
  }
}

@media (min-width: 426px) and (max-width: 770px) {
  
  .company-info {
      margin: 10px 0;
      align-self: center;
      padding: 0 122px 12px 159px;
  }

  .quick-links {
      padding-left: 75px;
  }

  .contact-info {
      margin-top: -240px;
      padding-left: 350px;
  }

  .footer-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
 
  .contact-info a {
      color: white;
      text-decoration: none;
      font-size: 20px;
  }
}
@media (min-width: 426px) and (max-width: 770px) {
  
  .header-form {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
 
  .enquiry-title h2 {
      font-size: 24px;
      margin-left: 410px;
  }

  .contact-info ol {
      font-size: 18px;
  }

  .contact-info .add {
      padding-left: 60px;
      font-size: 15px;
  }

  .quick-links li {
      padding: 0;
      font-size: 20px;
  }

  .company-info p {
      font-family: Lato;
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
  }

  .company-logo h1 {
      font-size: 22px;
  }

  .company-logo img {
      width: 50px;
      margin-right: 10px;
  }

  .header-form {
      display: flex;

  }
}

@media (min-width: 1025px) {
  
  .enquiry-title h2 {
      font-size: 26px;
      margin-left: 580px;
  }

}

.enquiry-title h2{
  font-size: 30px;
}


@media (max-width: 426px) {
  .container h1 {
      font-size: 30px;
      text-align: left;
      padding-bottom: 20px;
  }
}

.input-container {
  position: relative;
  
}



.input-container .icon {
      position: absolute;
      top: 70%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 17px;
      color: #cccccc;
}
.pencil i{
  transform: translateY(250%);
  font-size: 14px;
  color: #cccccc;
  margin-right:12px;     
}
.pencil{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.input-container.email i{
  top: 50%;
  right: 10px;
}

@media (min-width: 426px) and (max-width: 768px)  {
  .content {
      margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }
}